@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
.loader {
  display: flex;
  align-items: stretch;
  justify-items: stretch;
  position: fixed;
  background-color: #FAFAFA;
  height: 100vh;
  inset: 0px;
  z-index: 2;
  opacity: 0.9;
  animation: disappear 1s 3s forwards;
}

.charge {
  position: relative;
  font-size: 30px;
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  color: #9356DC;
  animation: jump 2s ease-in infinite;
}

.letter-2 {
  animation-delay: 0.1s;
}

.letter-3 {
  animation-delay: 0.2s;
}

.letter-4 {
  animation-delay: 0.3s;
}

.letter-5 {
  animation-delay: 0.4s;
}

.letter-6 {
  animation-delay: 0.5s;
}

.letter-7 {
  animation-delay: 0.6s;
}

.letter-8 {
  animation-delay: 0.7s;
}

* {
  box-sizing: border-box;
  margin: auto;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0px;
}

main {
  max-width: 1200px;
}

header {
  max-width: 1200px;
}

.page_restaurant {
  background-color: #FAFAFA;
  padding-bottom: 30px;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 3px;
}

.tete {
  position: relative;
}

.tete__fleche {
  position: absolute;
  top: 7px;
  left: 26px;
  font-size: 30px;
  color: black;
}

.recherche {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e7;
  box-shadow: inset 0px 2px 0px grey;
}
.recherche span {
  margin: 0%;
  font-size: 1rem;
}
.recherche input {
  height: 50px;
  display: block;
  margin: 0 auto;
  border: none;
  font-size: 0.95rem;
  font-weight: 600;
  background-color: #e7e7e7;
  color: #000;
  text-align: center;
  margin: 0%;
  box-shadow: inset 0px 2px 0px grey;
}

.menu {
  text-align: center;
  background-color: rgba(180, 180, 180, 0.0941176471);
  padding-bottom: 30px;
}
.menu h2 {
  font-size: 30px;
  margin: 0px;
  padding: 10px 0px;
}
.menu p {
  color: grey;
  padding: 0px 0px 20px 0px;
}

.menu--bouton {
  height: 50px;
  width: 220px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
  box-shadow: 0px 5px 10px 0px grey;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
}

.menu--bouton:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0px 5px 20px 0px #8e8e8e;
}

.bouton {
  width: 25%;
  height: 75px;
  position: relative;
  margin: 20px;
  padding: 0;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px grey;
  background-color: #FAFAFA;
  font-size: 1rem;
  font-weight: 500;
  text-align: start;
  color: black;
  font-family: "Roboto", sans-serif;
  min-width: 300px;
}
.bouton .bouton--numero {
  position: absolute;
  left: -10px;
  top: 26px;
  padding: 3px 8.5px 2px 6.5px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 22px;
  color: #FFF;
}
.bouton .bouton--noir {
  width: 14px;
  margin: 0 7% 0 11%;
  color: grey;
}

.bouton:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0px 5px 20px 0px #8e8e8e;
  background-color: rgba(146, 86, 220, 0.0941176471);
}
.bouton:hover .bouton--noir {
  color: #9356DC;
}

.fonctionnement_titre {
  margin: 0;
  padding: 48px 0 18px 0;
  text-indent: 5%;
}

.fonctionnement_expl {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.restaurants {
  background-color: rgba(180, 180, 180, 0.0941176471);
  padding: 30px 0px 40px 0px;
  margin-top: 40px;
  padding: 10px 10Px 40PX 10PX;
}
.restaurants h2 {
  text-indent: 5%;
  margin-bottom: 30px;
}
.restaurants .fa-regular {
  position: absolute;
  right: 20px;
  bottom: 25px;
  font-size: 30px;
  color: grey;
}
.restaurants .fa-solid {
  position: absolute;
  right: 20px;
  bottom: 25px;
  font-size: 30px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: transparent;
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms;
}
.restaurants .fa-solid:hover {
  opacity: 1;
  transform: scale(1.2);
}

.restaurants__cards {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
}
.restaurants__cards .carte__lien--nouveau {
  width: 80px;
  position: absolute;
  padding: 6px 0;
  border-radius: 2px;
  background-color: #99E2D0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: #278870;
  right: 12px;
  top: 12px;
}

.card {
  position: relative;
  width: 45%;
  height: 250px;
  min-width: 350px;
  background: white;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 10px 0px #b4b4b4;
  text-decoration: none;
  color: black;
}
.card .carte__lien__image {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0PX 0px;
}
.card h3 {
  margin: 0;
  padding: 13px 0 0 0;
  text-indent: 4%;
  font-size: 18px;
}
.card P {
  margin: 0;
  text-indent: 4%;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0px 5px 20px 0px #8e8e8e;
}

.pied {
  height: 150px;
  width: 100%;
  color: #FFF;
  background-color: #363636;
  margin: 0px;
  padding-left: 40px;
}
.pied h4 {
  max-width: 1200px;
  padding: 20px 0px 0px 0px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}
.pied ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0px 0px 0px;
  max-width: 1200px;
}
.pied ul li {
  list-style-type: none;
  min-width: 25%;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}
.pied .lien {
  text-decoration: none;
  color: #FFF;
}
.pied .lien:visited {
  color: #FFF;
}
.pied .lien__icone {
  width: 18px;
  margin-right: 9px;
}

@media screen and (max-width: 1024px) {
  .pied {
    height: 200px;
  }
  .pied__liste--element {
    width: 100%;
  }
}
.bandeau {
  position: relative;
}
.bandeau .bandeau__image {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}
.bandeau .bandeau__texte {
  border-radius: 40px 40px 0PX 0px;
  font-family: "Shrikhand", cursive;
  position: absolute;
  bottom: 1px;
  background-color: #FAFAFA;
  width: 100%;
}
.bandeau .bandeau__texte .bandeau__texte__titre {
  padding: 15px 0 28.5px 10px;
  font-weight: 300;
  border-radius: 40px;
}
.bandeau .fa-regular {
  position: absolute;
  right: 22px;
  bottom: 28px;
  font-size: 30px;
  color: grey;
}
.bandeau .fa-solid {
  position: absolute;
  right: 22px;
  bottom: 28px;
  font-size: 30px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: transparent;
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms;
}
.bandeau .fa-solid:hover {
  opacity: 1;
  transform: scale(1.2);
}

.repas {
  background-color: #FAFAFA;
  padding: 14px;
}
.repas .repas__titre {
  height: 50px;
  min-width: 80px;
  max-width: 200px;
  left: 5%;
  margin: 0;
  font-size: 0.95rem;
  font-weight: 400;
  text-transform: uppercase;
}
.repas .repas__titre .repas__titre--barre {
  width: 100%;
  max-width: 34px;
  height: 2.5px;
  display: block;
  margin: 5px 0PX 0PX 0px;
  background-color: #99E2D0;
}

.repas__entree {
  gap: 30px;
  display: flex;
  flex-flow: wrap;
  margin-bottom: 30px;
}
.repas__entree .repas__entree--choix {
  display: flex;
  height: 60px;
  box-shadow: 0px 5px 10px 0px grey;
  width: 92vw;
  border-radius: 20px;
  margin: 0px;
  background-color: #FFF;
  overflow: hidden;
  animation: aparition 2s;
  animation-fill-mode: both;
}
.repas__entree .repas__entree--choix:nth-child(1) {
  animation-delay: 250ms;
}
.repas__entree .repas__entree--choix:nth-child(2) {
  animation-delay: 500ms;
}
.repas__entree .repas__entree--choix:nth-child(3) {
  animation-delay: 750ms;
}
.repas__entree .repas__entree--choix:nth-child(4) {
  animation-delay: 1000ms;
}
.repas__entree .repas__entree--choix .assiette__texte {
  margin: 0%;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.repas__entree .repas__entree--choix .assiette__texte .assiette__texte__menu {
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.repas__entree .repas__entree--choix .assiette__texte .assiette__texte__menu2 {
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.repas__entree .repas__entree--choix .assiette__prix {
  margin-left: auto;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding: 10px 30px 10px 0px;
}
.repas__entree .repas__entree--choix .assiette--valide {
  background-color: #99E2D0;
  margin: 0%;
  margin-right: -58px;
  width: 55px;
  display: flex;
  transition: margin-right 0.7s;
  color: #FFF;
}
.repas__entree .repas__entree--choix .assiette--valide .assiette--valide--icone {
  font-size: 22px;
}
.repas__entree .repas__entree--choix:hover .assiette--valide {
  margin-right: 0px;
}
.repas__entree .repas__entree--choix:hover i {
  animation: valide-rotation 0.8s;
}

.commander {
  height: 50px;
  width: 220px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
  box-shadow: 0px 5px 10px 0px grey;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  display: flex;
  justify-content: space-around;
}
.commander:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0px 5px 20px 0px #8e8e8e;
}

@keyframes valide-rotation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes aparition {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes jump {
  15% {
    bottom: 10px;
  }
  30% {
    bottom: 0px;
  }
  40% {
    bottom: 2px;
  }
  50% {
    bottom: 0px;
  }
}
