@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
*{
    box-sizing: border-box;
    margin: auto;
}
body{
    margin:0px;
    font-family: "Roboto", sans-serif;
}

p{
    margin: 0px
}

main {
    max-width: 1200px;
}

header{
    max-width: 1200px;
}

.page_restaurant{
    background-color: $grisclair;
    padding-bottom: 30px;
}
