.repas{
    background-color: $grisclair;
    padding: 14px;
    .repas__titre {
        height: 50px;
        min-width: 80px;
        max-width: 200px;
        left: 5%;
        margin: 0;
        font-size: 0.95rem;
        font-weight: 400;
        text-transform: uppercase;
        .repas__titre--barre {
            width: 100%;
            max-width: 34px;
            height: 2.5px;
            display: block;
            margin: 5px 0PX 0PX 0px;
            background-color: $tertiaire;
        }
    }
}
.repas__entrée{
    gap: 30px;
    display: flex;
    flex-flow: wrap;
    margin-bottom: 30px;
    .repas__entrée--choix{
        display: flex;
        height: 60px;
        @include shadow_all;
        width: 92vw;
        border-radius: 20px;
        margin: 0px;
        background-color: #FFF;
        overflow: hidden;
        animation: aparition 2s;
        animation-fill-mode: both;
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              animation-delay: 100ms *
               $i;
        }
        }
        .assiette__texte{
            margin: 0%;
            padding: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        
            .assiette__texte__menu{
                font-size: 18px;
                font-weight: 500;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .assiette__texte__menu2{
                font-size: 15px;
                font-weight: 300;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .assiette__prix{
            margin-left: auto;
            font-weight: bold;
            display: flex;
            align-items: flex-end;
            padding: 10px 30px 10px 0px;

        }
        .assiette--valide {
            background-color: $tertiaire;
            margin: 0%;
            margin-right: -58px;
            width: 55px;
            display: flex;
            transition: margin-right 0.7s;
            color: white;
            .assiette--valide--icone{
                font-size: 22px;
            }
        }
        &:hover {
            .assiette--valide{
            margin-right: 0px;
            }
            i{
                animation: valide-rotation 0.8s ;
            }
        }
    }
}


.commander{
height: 50px;
width: 220px;
border: none;
border-radius: 25px;
font-size: 16px;
font-weight: 500;
color: #FFF;
@include shadow_base;
@include gradient;
display: flex;
justify-content: space-around;
    &:hover {
    @include zoom;
    }
}

