
.pied {
    height: 150px;
    width: 100%;
    color: $blanc;
    background-color: $pied;
    margin: 0px;
    padding-left: 40px;
    
    h4{
        max-width: 1200px;
        padding: 20px 0px 0px 0px;
        font-family: "Shrikhand", cursive;
        font-weight: 400;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px 0px 0px 0px;
        max-width: 1200px;


        li{            
            list-style-type: none;
            min-width: 25%;
            margin: 0px;
            padding: 0px 0px 10px 0px;
        }
    }
    .lien{
        text-decoration: none;
        color: $blanc;
    }
    .lien:visited {
        color: $blanc;
    }
    .lien__icone {
        width: 18px;
        margin-right: 9px;
    }
}
@media screen and (max-width: 1024px){
    .pied{
        height: 200px;
    }
    .pied__liste--element{
        width: 100%;
    }
}