$grisclair: #FAFAFA;
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$fondgris: rgba(180, 180, 180, 0.0941176471);
$nouveaux: #278870;
$noir: black;
$gris: grey;
$blanc:#FFF;
$pied: #363636;
$fondloca:  #e7e7e7;