.loader{
    display: flex;
    align-items: stretch;
    justify-items: stretch;
    position: fixed;
    background-color: $grisclair ;
    height: 100vh;
    inset: 0px;
    z-index: 2;
    opacity: 0.9;
    animation: disappear 1s 3s forwards;
}
.charge{
    position: relative;
    font-size: 30px;
    font-family: "Shrikhand", cursive;
    font-weight:bold;
    color:$primaire ;
    animation:jump 2s ease-in infinite;
}

.letter-2{
animation-delay:.1s;
}
.letter-3{
animation-delay:.2s;
}
.letter-4{
animation-delay:.3s;
}
.letter-5{
animation-delay:.4s;
}
.letter-6{
animation-delay:.5s;
}
.letter-7{
animation-delay:.6s;
}
.letter-8{
animation-delay:.7s;
}
