.recherche{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $fondloca;
    box-shadow: inset 0px 2px 0px $gris;


    span {
        margin: 0%;
        font-size: 1rem;
    }
    input {
        height: 50px;
        display: block;
        margin: 0 auto;
        border: none;
        font-size: 0.95rem;
        font-weight: 600;
        background-color: $fondloca;
        color: #000;
        text-align: center;
        margin:0% ;
        box-shadow: inset 0px 2px 0px $gris;
    }
}
.menu{
    text-align: center;
    background-color: #b4b4b418;
    padding-bottom: 30px;
    h2 {
        font-size: 30px;
        margin: 0px;
        padding: 10px 0px;
    }
     p{
        color: $gris;
        padding: 0px 0px 20px 0px;

    }
}

