.recherche{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
    box-shadow: inset 0px 2px 3px #b4b4b4;


    span {
        margin: 0%;
        font-size: 1rem;
    }
    input {
        height: 50px;
        display: block;
        margin: 0 auto;
        border: none;
        font-size: 0.95rem;
        font-weight: 600;
        background-color: #e7e7e7;
        color: #000;
        text-align: center;
        margin:0% ;
        box-shadow: inset 0px 2px 0px #b4b4b4;

        
    }
}
.menu{
    text-align: center;
    background-color: #b4b4b418;
    padding-bottom: 30px;
    h2 {
        font-size: 30px;
        margin: 0px;
        padding-top: 20px;
    }
     p{
        color: gray;
    }
}

